[project]
name = "{{ package_name }}"
version = "0.0.0"
requires-python = ">=3.7"
dependencies = [
    "sila2",{% if generate_main %}
    "typer",{% endif %}
]

[build-system]
requires = ["setuptools>=61.0.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["{{ package_name }}*"]

[tool.setuptools.package-data]
"{{ package_name }}.generated" = [
    "*/*.sila.xml",
    "*/*.proto",
]
